@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;0,800;1,100;1,500&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: Poppins;
  

}

.navbar{
    height: 100px;
    background-color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding:0 50px;
}
.navbar ul{ 
    display: flex;
    list-style: none;
}
.navbar ul li a{
    margin-right: 40px;
    font-size: 20PX;
    text-decoration: none;
    color: cadetblue;
}
.logot{ 
    text-decoration: none;
    border: 10px solid;
    border-color: cadetblue mediumvioletred;
    padding: 10PX 15px;
    border-radius: 10px;
    color: cadetblue;
}
.btn{ 
    width: 150px;
    border: 1PX solid cadetblue;
    padding: 10PX 10px;
    border-radius: 10px;
    color: white;
    font-size: px;
    background-color: cadetblue;
    margin-top: 10px;
}
.sec1{
    
    height: 100vh;
    align-items: center;
    background-image: url(./image/jeunes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    
}.style-h{
    height: 70%;
    max-width: 100%;
    text-align: center;
    padding: 0 200px; 
    font-size: 20PX;
    padding-top: 150px;
    color: white;
} 
.style-h2{
    color: cadetblue;
    font-size: 40px;
    font-weight: 900PX;
    
}   
.sec2{
    height: 70vh;
    padding:90PX  130px;
    display: flex;

 
}
.card1{
    height: 100%;
    width: 50%;
    padding: 30px  30px;  
}.card1 img{
    height: 90%;
    width: 100%;
    border-radius: 5px;
}
.card2{
    height: 100%;
    width: 50%;
    padding: 30px  30px;
    text-align: justify;
}
.rejoignez{
    height: 150px;
    text-align: center;
    padding: 10PX  100px;
}
.contenaire-image{
    height: 70vha;
    padding:90PX  130px;
    display: flex;
    justify-content: space-between;
}
.contenaire-card{
    height: 400px;
    width: 350px;
}
.card-image{
    height: 50%;
    width:100%;

}
img{
    height: 100%;
    width:100%; 
}
.footer{
    height: 70vh;
    padding: 30PX 50px;
    display: flex;
    justify-content: space-between;
    background-color: #f4f9fc;
    
}
.group1{
    width:100%; 
    width: 300px;

}
.icon-ba{
    text-align: center;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: space-evenly; 
}
.icon{
    height: 40%;
     justify-content: space-between;
     background-color: aqua;
}
}

.men ul{
    list-style: none;
}
.men ul li a{
    display: flex;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
  }
  



@media screen and (max-width:768px) {
    .sec2{
        height: auto;
        display: flex;
        flex-direction: column;     }
  